docker/*.run
docker/*.tar.gz

hdl/axsim.sh
hdl/sim/adc/*.txt
hdl/*.txt

vivado/
!vivado/moller.xpr

linux_image/

.ssh/
.vscode/
*.zip
*.pyc

env.mk
ssh_pass

sw/scripts/*.txt
sw/scripts/*.raw
sw/scripts/*.txt
sw/scripts/*.bin
sw/scripts/zmq_c/build/
