#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
#*
#!*/
#!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
#!*.vhd
#!*.v
#!*.bd
#!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
#!*.xci
#*.dcp(checkpoint files)
#!*.dcp
#!*.vds
#!*.pb
*.pb
#All bd comments and layout coordinates are stored within .ui
#!*.ui
#!*.ooc
#########
#System Generator
#########
#!*.mdl
#!*.slx
#!*.bxml
#########
#Simulation logic analyzer
#########
#!*.wcfg
#!*.coe
#########
#MIG
#########
#!*.prj
#!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
#!*.xpr
#Include *.xml files for 2013.4 or earlier version
#!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
#!*.xdc
#########
#TCL - files
#########
#!*.tcl
#########
#Journal - files
#########

# Bryerton - Ignoring journal files as they will definitely conflict between users
*.jou
*.log
*.str

#########
#Reports
#########
#!*.rpt
#!*.txt
#!*.vdi
#########
#C-files
#########
#!*.c
#!*.h
#!*.elf
#!*.bmm
#!*.xmp

output/*

# Bryerton - these are temporary files
*.cache
*.runs
.Xil
vivado
src/bd/Mercury_XU1/hw_handoff
src/bd/Mercury_XU1/ip
src/bd/Mercury_XU1/ui
src/bd/Mercury_XU1/ipshared
src/bd/Mercury_XU1/sim
src/bd/Mercury_XU1/synth
src/bd/Mercury_XU1/Mercury_XU1_ooc.xdc
src/bd/Mercury_XU1/Mercury_XU1.bxml

# Discard all auto-generated files from the block diagram
# Keep the block diagram itself
!src/bd/Mercury_XU1/Mercury_XU1.bd

# Gitkeep files should stay
!.gitkeep

# Ignore sim directories
xsim.dir

# Ignore waveform databases created on simulation run
*.wdb